@import 'compass';
@import "compass/css3/filter";
@import 'compass/reset';

@import 'bootstrap/variables';
@import 'bootstrap/component-animations';
@import 'bootstrap/accordion';

@import 'menu/*.png';

body {
    background: image-url('background.png');
    background-repeat: repeat;
    line-height: 1;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #000000;
    font-size: 1em;
    padding: 20px 10px;
}

article {
    margin: 0 auto;
    max-width: 690px;
}


a {
    text-decoration: none;
    &:hover, &:active { color: #00aeef; }
}


header {
    h1 {
        text-align: center;

        text-transform: uppercase;
        letter-spacing: -0.4em;

        .alex {
            vertical-align: top;
            font-size: 5em;
        }
        .calleros {
            font-size: 6em;
        }
    }

    h6 {
        text-align: center;
        font-size: 1.4em;
        text-transform: uppercase;

        margin-bottom: 20px;
    }
}

nav.main-menu {
    font-weight: bold;

    text-align: center;
    a {
        position: relative;
        display: inline-block;
        width: 216px;
        height: 44px;

        span {
            font-family: Helvetica, Arial, sans-serif;
            font-weight: 400;
            font-size: 1.5em;
            letter-spacing: -0.1em;
            position: absolute;
            bottom: -3px;
            right: 0;
            text-transform: uppercase;
        }

        &.one {
            @include menu-sprite(one);
            &:hover { @include menu-sprite(one-hover); }
            span { color: #fff; }
        }

        &.two {
            @include menu-sprite(two);
            &:hover { @include menu-sprite(two-hover); }
            span { color: #fff; }
        }

        &.three {
            @include menu-sprite(three);
            &:hover { @include menu-sprite(three-hover); }
            span { color: #fff; }
        }

        &.four {
            @include menu-sprite(four);
            &:hover { @include menu-sprite(four-hover); }
            span { color: #000; }
        }

        &.five {
            @include menu-sprite(five);
            &:hover { @include menu-sprite(five-hover); }
            span { color: #000; }
        }

        &.six {
            @include menu-sprite(six);
            &:hover { @include menu-sprite(six-hover); }
            span { color: #000; }
        }
    }
}

footer {
    small {
        display: block;
        margin-top: 20px;
        font-size: 0.7em;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
    }

}

.accordion-group, .accordion-inner {
    border: none;
}

.videos {
    h3 a {
        font-size: 3em;
        color: #000;
        text-transform: lowercase;
        letter-spacing: -0.1em;

        &:hover {
            color: #d6582a;
        }
    }

    nav {
        a {
            display: inline-block;
            position: relative;
            width: 47%;

            img {
                width: 100%;
            }

            .info {
                position: absolute;
                top: 0;
                left: 0;
                padding: 10px;
                visibility: hidden;
                color: #fff;

                h6 {
                    font-size: 1.5em;
                    font-style: italic;
                    margin-bottom: 3px
                }

                p {
                    font-size: 0.9em;
                }
            }

            &:hover {
                img {
                    @include filter(blur(3px) brightness(0.5));
                }

                .info {
                    visibility: visible;
                }
            }
        }
    }

    .category-featured {
        nav {
            a {
                width: 95%;

                .info {
                    bottom: 0;
                    top: auto;
                    padding: 20px;

                    h6 {
                        font-size: 1.8em;
                    }

                    p {
                        font-size: 1em;
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 690px) {
    header {
        h1 {
            span { display: inline-block; }

            .alex, .calleros {
                font-size: 2em;
                letter-spacing: .5em;
            }

            .alex {
                font-style: italic;
            }

            .calleros {
                font-weight: bold;
            }
        }

        h6 {
            margin-top: 10px;
            font-size: 1em;
        }
    }

    nav.main-menu {
        a {
            width: 32%;
            height: 27px;
            text-align: center;

            span {
                display: inline;
                position: inherit;
                font-size: 1.2em;
            }
        }
    }

    .videos {
        h3 a {
            font-size: 2em;
        }

        nav {
            a {
                .info {
                    h6 {
                        font-size: 1em;
                    }

                    p {
                        font-size: 0.7em;
                    }
                }
            }
        }

        .category-featured {
            nav {
                a {
                    .info {
                        padding: 10px;

                        h6 {
                            font-size: 1.2em;
                        }

                        p {
                            font-size: 0.9em;
                        }
                    }
                }
            }
        }
    }
}
