body {
    height: 100%;
    background: #000;
    color: #fff;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

iframe {
    width: 100%;
    height: 99%;
}

a { color: #aaa; }

p {
    line-height: 1.2em;
}
