body {
    height: 100%;
    background: #000;
    color: #fff;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

iframe, embed, object {
    width: 100% !important;
    height: 99% !important;
}

a { color: #aaa; }

p {
    line-height: 1.2em;
}
