<!DOCTYPE html>
<html lang="en" style="height:100%">
<head>

  <title>Alex Calleros</title>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'minimal' %>
  <%= favicon_link_tag "/favicon.png" %>
</head>


<body>
  <%= yield %>
</body>
</html>
